$body-color: #f5f5f5;
$red-color: #ef5350;
$red-color--hover: #E24843;
$red-border-color: #E42620;
$green-color: #66BB6A;
$footer-bg-color: #9E9E9E;
$inputs-border: #E0E0E0;

@mixin default-shadow-bottom {
  box-shadow: 0 3px 3px -3px grey;
  transition: box-shadow 0.2s ease-in;
  &:hover{
    box-shadow: 0 4px 4px -3px grey;
  }
}


@mixin fade-in{
  animation: fade-in-anim 0.9s 1 linear;
}

@mixin slide-right{
  position: relative;
  animation: slide-right-anim 0.8s 1 ;
}

@keyframes fade-in-anim {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slide-right-anim {
  from {right: -40px;}
  to {right: 0;}
}